layout {
  pane split_direction="vertical" {
    pane name="Notes" {
      command "nvim"
      args "-c" "Neorg workspace work"
    }
    pane name="Todos" {
      command "nvim"
      args  "/home/jk/Todos/todo.txt" "/home/jk/Todos/done.txt"
    }
  }
}
